.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-cart-icon {
  width: 15px;
  height: 15px;
  background-position: -10px -10px;
}

.sprite-checkbox-off {
  width: 23px;
  height: 23px;
  background-position: -10px -45px;
}

.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -10px -88px;
}

.sprite-fb-icon {
  width: 12px;
  height: 22px;
  background-position: -10px -131px;
}

.sprite-insta-icon {
  width: 21px;
  height: 21px;
  background-position: -10px -173px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -10px -214px;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -10px -259px;
}

.sprite-vk-icon {
  width: 26px;
  height: 15px;
  background-position: -10px -304px;
}

body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  min-width: 1200px;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0px 20px;
}

.index-header::after{
  content: "";
  display: table;
  clear: both;
}

.index-header{
  background-color: #eeeeee;
}

.header-logo{
  float: left;
  margin-top: 50px;
  margin-right: 203px;
}

.header-logo:hover{
  opacity: 0.8;
}

.header-logo:active{
  opacity: 0.3;
}

.main-navigation::after{
  content: "";
  display: table;
  clear: both;
}

.navigation{
  float: left;
  margin-top: 77px;
}

.navigation ul{
  padding: 0;
  margin: 0;
  font-size: 0;
}

.navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.navigation a{
  display: block;
  padding-right: 46px;
  color: black;
  text-decoration: none;
}

.navigation a:hover{
  color: #fb565a;
}

.navigation a:active{
  color: black;
  opacity: 0.3;
}

.basket{
  float: left;
  max-width: 140px;
  margin-top: 77px;
  margin-left: 198px;
}

.basket a{
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  padding-left: 40px;
  position: relative;
}

.basket a::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
  top: 3px;
  left: -1px;
}

.basket a:hover{
  color: #fb565a;
}

.basket a:active{
  color: black;
  opacity: 0.3;
}

.slider{
  position: relative;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slider-controls{
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}

.features::after{
  content: "";
  display: table;
  clear: both;
}

.features{
  display: block;
}

.features-text{
  float: left;
  width: 380px;
  margin-top: 19px;
  margin-right: 51px;
}

.big{
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  margin-bottom: 0;
}

.small{
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  margin-top: 26px;
}

.features-img{
  float: left;
  margin-top: 15px;
  line-height: 0;
}

.btn-know-more{
  display: inline-block;
  margin-top: 22px;
  padding: 17px 55px 17px;
  border-radius: 2%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  cursor: pointer;
}

.btn-know-more:hover{
  background-color: #e74246;
}

.btn-know-more:active{
  background-color: #d7373b;
}

.features2::after{
  content: "";
  display: table;
  clear: both;
}

.features2{
  width: 1160px;
  min-height: 425px;
  display: none;
}

.features-text-2{
  float: left;
  width: 380px;
  margin-top: 12px;
  margin-right: 51px;
}

.big-2{
  display: block;
  width: 525px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 0;
}

.small-2{
  display: block;
  width: 420px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  margin-top: 27px;
  padding-left: 2px;
}

.features-img-2{
  float: right;
  margin-top: 0px;
  line-height: 0;
}

.features3::after{
  content: "";
  display: table;
  clear: both;
}

.features3{
  width: 1160px;
  min-height: 425px;
  display: none;
}

.features-text-3{
  float: left;
  width: 380px;
  margin-top: 14px;
  margin-right: 21px;
}

.big-3{
  display: block;
  width: 420px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 0;
}

.small-3{
  display: block;
  width: 350px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  margin-top: 27px;
  padding-left: 2px;
}

.features-img-3{
  float: left;
  margin-top: 15px;
  line-height: 0;
}

.menu::after{
  content: "";
  display: table;
  clear: both;
}

.menu-item:nth-child(3n){
  margin-right: 0;
}

.menu-item{
  float: left;
  width: 300px;
  min-height: 300px;
  margin-top: 80px;
  margin-right: 100px;
}

.menu-h2{
  display: block;
  margin-bottom: 0;
  margin-top: 21px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

.menu-p{
  display: block;
  margin-top: 16px;
  width: 248px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

.menu-btn{
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  margin-top: 15px;
  padding: 18px 40px;
  border-radius: 5%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.pink{
  background-color: #fb565a;
}

.pink:hover{
  background-color: #e74246;
}

.pink:active{
  background-color: #d7373b;
}

.green{
  background-color: #00ca74;
}

.green:hover{
  background-color: #00bc6c;
}

.green:active{
  background-color: #00aa62;
}

.yellow{
  background-color: #efc84a;
}

.yellow:hover{
  background-color: #eab534;
}

.yellow:active{
  background-color: #e5a722;
}

.about::after{
  content: "";
  display: table;
  clear: both;
}

.about{
  margin-top: 110px;
}

.about-left{
  float: left;
}

.about-company{
  width: 660px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  margin-bottom: 0;
}

.about-min{
  width: 620px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
}

.about-orders{
  width: 310px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700px;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
}

.about-left ul{
  margin-top: 24px;
  padding-left: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
}

.about-left li:before{
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 11px;
  left: 0px;
}

.about-left li{
  margin-top: 24px;
  padding-left: 36px;
  list-style-type: none;
  position: relative;
}

.about-right{
  float: left;
  margin-left: 140px;
  width: 356px;
}

.about-logo{
  margin-top: 10px;
}

.about-2004{
  display: block;
  padding-left: 17px;
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
}

.percent-item{
  display: inline-block;
  position: relative;
  margin-top: 42px;
  margin-right: 15px;
  margin-bottom: 0;
  width: 100px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
}

.sign-percent{
  position: absolute;
  font-size: 27px;
  top: -9px;
}

.percent-content-item{
  padding-top: 3px;
  padding-right: 16px;
  display: inline-block;
  width: 100px;
}

.partners:before{
  content: "";
  display: table;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
  position: absolute;
  top: 8px;
  left: 0px;
}

.partners:after{
  content: "";
  display: table;
  clear: both;
}

.partners{
  margin-top: 48px;
  margin-bottom: 85px;
  padding-bottom: 40px;
  position: relative;
}

.partner a{
  display: inline-block;
  opacity: 0.2;
}

.partner a:hover{
  opacity: 1;
}

.partner a:active{
  opacity: 0.1;
}

.partners-item-1{
  width: 230px;
  float: left;
  position: relative;
  margin-top: 72px;
  margin-right: 34px;
  margin-left: 31px;
}

.partners-item-1:after{
  content: "";
  display: table;
  width: 2px;
  height: 53px;
  background-color: #eeeeee;
  position: absolute;
  top: 1px;
  left: 248px;
}

.partners-item-2{
  width: 230px;
  float: left;
  position: relative;
  margin-top: 56px;
  margin-right: 30px;
  margin-left: 31px;
}

.partners-item-2:after{
  content: "";
  display: table;
  width: 2px;
  height: 53px;
  background-color: #eeeeee;
  position: absolute;
  top: 18px;
  left: 253px;
}

.partners-item-3{
  width: 230px;
  float: left;
  position: relative;
  margin-top: 75px;
  margin-right: 30px;
  margin-left: 52px;
}

.partners-item-3:after{
  content: "";
  display: table;
  width: 2px;
  height: 53px;
  background-color: #eeeeee;
  position: absolute;
  top: 0px;
  left: 241px;
}

.partners-item-4{
  width: 200px;
  float: left;
  position: relative;
  margin-top: 62px;
  margin-right: 0px;
  margin-left: 47px;
}

.partners-item-4:after{
  content: "";
  display: table;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
  position: absolute;
  top: 129px;
  left: -945px;
}

.map{
  padding-top: 54px;
  background-position: center top;
  background-image: url("../img/layer2.jpg");
  background-repeat: no-repeat;
  height: 415px;
}

.address{
  padding-top: 30px;
  padding-left: 48px;
  width: 320px;
  height: 310px;
  background: white;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
}

.design-studio{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
}

.address-address{
  display: block;
  margin-top: 23px;
  padding-left: 3px;
  margin-bottom: 40px;
}

.btn-write{
  margin-top: 0 auto;
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 50px;
  padding-top: 16px;
  padding-left: 44px;
  border-radius: 5%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

footer{
  margin-bottom: 30px;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

.footer-social{
  width: 300px;
  float: left;
  margin-top: 16px;
  margin-right: 100px;
}

.social-btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn-vk::before{
  width: 26px;
  height: 15px;
  background-position: -10px -304px;
}

.social-btn-fb::before{
  width: 12px;
  height: 22px;
  background-position: -10px -131px;
}

.social-btn-inst::before{
  width: 21px;
  height: 21px;
  background-position: -10px -173px;
}

.social-btn:hover{
  background-color: #e74246;
}

.social-btn:active{
  background-color: #d7373b;
}

.social-btn{
  display: inline-block;
  vertical-align: top;
  width: 78px;
  height: 78px;
  font-size: 0;
  background-color: #e1e1e1;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 10px;
}

.footer-text{
  margin-top: 6px;
  float: left;
  line-height: 0;
}

.footer-big{
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
}

.footer-small{
  display: block;
  margin-top: 20px;
}

.write-us{
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  box-sizing: border-box;
  padding-top: 37px;
  padding-left: 100px;
  margin-top: 340px;
  background: white;
  position: absolute;
  top: 1367px;
  right: 172px;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
}

.write-us-h1{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500px;
  font-family: "Roboto", "Arial", sans-serif;
}

.close{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 75px;
  right: 87px;
  opacity: 0.3;
}

.close::before, .close::after{
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 5px;
  background: #fb565a;
}

.close::before{
  top: 10px;
  left: 0px;
  transform: rotate(45deg);
}

.close::after{
  bottom: 10px;
  right: 0px;
  transform: rotate(-45deg);
}

.close:hover{
  opacity: 1;
  cursor: pointer;
}

.close:active{
  opacity: 0.1;
}

.write-name{
  display: inline-block;
  width: 360px;
  margin-right: 36px;
  margin-top: 10px;
}

.write-name input{
  margin-top: 10px;
  padding-left: 13px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  color: #bababa;
}

.write-email{
  display: inline-block;
  width: 360px;
  margin-top: 10px;
}

.write-email input{
  margin-top: 10px;
  padding-left: 13px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  color: #bababa;
}

.write-text{
  margin-top: 33px;
  width: 760px;
}

.write-text textarea{
  margin-top: 10px;
  padding-top: 11px;
  padding-left: 13px;
  width: 760px;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  color: #bababa;
}

#user-name-field{
  width: 360px;
  height: 50px;
  box-sizing: border-box;
}

#user-mail-field{
  width: 360px;
  height: 50px;
  box-sizing: border-box;
}

.write-name label,
.write-email label,
.write-text label{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.write-btn button{
  margin-top: 42px;
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  padding: center;
  border-radius: 2%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: #fb565a;
  border: none;
  cursor: pointer;
}

.catalog-header{
  background-color: #eeeeee;
  min-height: 355px;
}

.pink-line{
  position: relative;
}

.pink-line::after{
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  background: #fb565a;
  position: absolute;
  top: 32px;
  left: 0;
}

.catalog-title{
  float: left;
  margin-left: 216px;
  margin-top: 38px;
}

.catalog-h1{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  font-style: "Roboto", "Arial", sans-serif;
  color: black;
}

.catalog-main{
  width: 1160px;
  font-size: 0;
  margin-bottom: 60px;
}

.sidebar{
  margin-top: 42px;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.sidebar-h2{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  margin-left: 3px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  height: 41px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 17px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  width: 80px;
  height: 40px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  box-sizing: border-box;
}

.net{
  margin-top: 53px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
}

input[type="radio"]{
  display: inline-block;
  margin-right: 12px;
}

.net ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.net ul li{
  padding-left: 8px;
  margin-bottom: 20px;
}

.catalog-features{
  margin-top: 46px;
}

.features-h2{
  margin-bottom: 17px;
}

input[type="checkbox"]{
  display: inline-block;
  margin-right: 12px;
}

.catalog-features ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-features ul li{
  padding-left: 8px;
  margin-bottom: 22px;
}

.btn-show button{
  margin-top: 50px;
  display: block;
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  padding-top: 4px;
  padding-left: 8px;
  border-radius: 5%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
}

.catalog::after{
  content: "";
  display: table;
  clear: both;
}

.catalog{
  width: 910px;
  display: inline-block;
  font-size: 16px;
}

.catalog-nav::after{
  content: "";
  display: table;
  clear: both;
}

.catalog-nav-title{
  float: left;
  margin-left: 150px;
  margin-top: 60px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
}

.sort-type{
  float: left;
  margin-left: 265px;
  margin-top: 60px;
}

.btn-price, .btn-type, .btn-name, .btn-up, .btn-down{
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: black;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-price, .btn-type{
  margin-right: 21px;
}

.btn-name{
  margin-right: 45px;
}

.btn-down{
  margin-right: 9px;
}

.btn-type, .btn-name, .btn-up{
  color: #cccccc;
}

.catalog-content{
  float: right;
  margin-top: 55px;
  margin-left: 150px;
  font-size: 0;
}

.catalog-item::after{
  content: "";
  display: table;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 14px;
  left: 10px;
  position: absolute;
  box-shadow: 25px 0 0 0 #fff, 50px 0 0 0 #fff;
}

.catalog-item{
  display: inline-block;
  width: 360px;
  background-color: #e9e9e9;
  padding-top: 40px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 37px;
}

.catalog-item:nth-child(2n){
  margin-right: 0;
}

.catalog-item:hover .catalog-block{
  display: block;
}

.catalog-block{
  display: none;
  min-height: 230px;
  box-sizing: border-box;
  background-color: #eeeeee;
  width: 360px;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
}

.block-title{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: black;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 26px;
}

.block-text{
  display: block;
  width: 230px;
  text-align: center;
  margin: 15px auto 0;
}

.short-text{
  max-width: 185px;
}

.long-text{
  max-width: 230px;
}

.block-price{
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 17px;
  border-radius: 2%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: #fb565a;
  border: none;
  cursor: pointer;
}

.catalog-links{
  margin-left: 150px;
}

.catalog-links a{
  display: inline-block;
  margin-top: 25px;
  margin-right: 8px;
  width: 50px;
  height: 50px;
  padding: 17px;
  padding-top: 13px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 2px;
}

.catalog-links .white-back{
  background-color: white;
  border: 3px solid #dbdbdb;
}

.catalog-links .next{
  width: 260px;
  padding-left: 74px;
}
