body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: Roboto;
}

.container{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.index-header{
  background-color: #eeeeee;
  min-height: 545px;
}

.main-navigation::after{
  content: "";
  display: table;
  clear: both;
}

.header-logo{
  float: left;
}

.header-logo-pic{
  margin-left: 88px;
  margin-top: 41px;
}

.header-ul{
  float:left;
}

.main-navigation li{
  display: inline-block;
}

.basket{
  float: right;
}

.features1::after{
  content: "";
  display: table;
  clear: both;
}

.features2::after{
  content: "";
  display: table;
  clear: both;
}

.features2{
  width: 1160px;
  min-height: 425px;
  display: none;
}

.features3::after{
  content: "";
  display: table;
  clear: both;
}

.features3{
  width: 1160px;
  min-height: 425px;
  display: none;
}

.features-text{
  float: left;
  width: 380px;
}

.features-img{
  float: right;
  margin-top: 12px;
}

.menu::after{
  content: "";
  display: table;
  clear: both;
}

.menu-item:nth-child(3n){
  margin-right: 0;
}

.menu-item{
  float: left;
  width: 300px;
  min-height: 300px;
  margin-top: 80px;
  margin-right: 100px;
}

.about::after{
  content: "";
  display: table;
  clear: both;
}

.about-left{
  float: left;
  width: 680px;
  min-height: 440px;
}

.about-right{
  float: left;
  width: 400px;
  min-height: 440px;
}

.percent{
  display: inline-block;
}

.percent-content{
  display: inline-block;
  width: 100px;
}

.partners::after{
  content: "";
  display: table;
  clear: both;
}

.partner:nth-child(4n){
  margin-right: 0;
}

.partner{
  width: 260px;
  min-height: 120px;
  float: left;
  margin-right: 40px;
}

.map{
  min-height: 500px;
  margin-top: 83px;
  text-align: center;
}

.map-marker{
  display: none;
}

.address{
  display: block;
  width: 320px;
  height: 310px;
}

.address2{
  width: 195px;
  height: 200px;
  margin: auto;
  text-align: left;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

.footer-social{
  width: 300px;
  float: left;
}

.footer-text{
  width: 580px;
  float: right;
}

.write-us{
  width: 960px;
  height: 590px;
  box-sizing: border-box;
  border: 1px solid grey;
  display: inline-block;
  padding-top: 75px;
  padding-left: 100px;
  margin-top: 40px;
}

.write-name{
  display: inline-block;
  width: 360px;
  margin-right: 36px;
}

.write-email{
  display: inline-block;
  width: 360px;
}

.write-text{
  margin-top: 40px;
  width: 760px;
}

#user-name-field{
  width: 360px;
  height: 50px;
  box-sizing: border-box;
}

#user-mail-field{
  width: 360px;
  height: 50px;
  box-sizing: border-box;
}

#user-text-field{
  width: 760px;
  box-sizing: border-box;
}

.write-name label,
.write-email label,
.write-text label{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.write-btn{
  width: 260px;
  margin-top: 50px;
}

.write-us h1{
  font-size: 45px;
  line-height: 45px;
}

.big-text {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: normal;
  font-family: Roboto;
}

h2{
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: Roboto;
}

.catalog-header{
  background-color: #eeeeee;
  min-height: 320px;
}

.title{
  width: 740px;
  margin: 0 auto;
  padding: 0 auto;
}

.catalog-main{
  width: 1160px;
  font-size: 0;
}

.sidebar{
  width: 265px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.catalog::after{
  content: "";
  display: table;
  clear: both;
}

.catalog{
  width: 880px;
  display: inline-block;
  font-size: 16px;
}

.catalog-nav::after{
  content: "";
  display: table;
  clear: both;
}

.catalog-nav{
}

.catalog-title{
  float: left;
}

.sort-type{
  float: right;
}

.catalog-content{
  float: right;
  margin-top: 60px;
  margin-left: 100px;
  font-size: 0;
}

.catalog-item::after{
  content: "";
  display: table;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 14px;
  left: 10px;
  position: absolute;
  box-shadow: 25px 0 0 0 #fff, 50px 0 0 0 #fff;
}

.catalog-item{
  display: inline-block;
  width: 360px;
  background-color: #e9e9e9;
  padding-top: 40px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(2n){
  margin-right: 0;
}

.sedona-block{
  background-color: #eeeeee;
  width: 360px;
  height: 230px;
  display: none;
  position: relative;
}

.catalog-links{
  float: left;
}

.catalog-links a{
  display: inline-block;
}
